body {
    background-color: #535258;
    font-family: Georgia, Courier, monospace;
    color: rgb(252, 252, 252);
}

.navigate_bar {
    font-size: 30px;
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

.row {}

.col-7 {}

.col-5 {}

.navigate_logo {
    background: url(../image/Cyber-Security-PNG-Clipart.png) no-repeat center center;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

.col-10 {}

.navigate_text {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 50px;
}

.my_photo {
    background: url(../image/photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 450px;
    height: 450px;
    margin-left: 35px;
    border-radius: 16px;
}

.title_photo {
    text-align: center;
    margin-top: 20px;
}

.button_js {
    text-align: center;
}

#myButton {
    border: 10px double black;
    border-radius: 15px;
    padding: 10px;
    background-color: red;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 32px;
}

#hacked img {
    margin-top: 20px;
    width: 25%;
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-12 {}